<div class="ui basic fixed segment content signup_page">
    <div class='ui container'>
        <div class="ui two column stackable grid padded">
            <div class="ten wide column signup_page_left_column">
                <div class="ui fluid centered card">
                    <div class="content">
                        <div class="header">Built for the owners</div>
                        <div class="description">
                            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                            <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column signup_page_right_column">
                <div class="ui fluid card">
                    <div class="content">
                        <form class="ui form">
                            <div class="field">
                                <label>Username</label>
                                <input type="text" name="user-name" placeholder="Pick a username">
                            </div>
                            <div class="field">
                                <label>Email address</label>
                                <input type="text" name="email" placeholder="you@example.com">
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Create a password">
                            </div>
                            <div class="field">
                                <label>Owner's name</label>
                                <input type="text" name="owners-name" placeholder="Enter your owner's name">
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" class="">
                                    <label>I agree to the Terms and Conditions</label>
                                </div>
                            </div>
                            <button class="ui fluid yellow button" type="submit">Sign up for OGIVE-DC</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>