<footer>
    <div id="od_footer_menu" class="ui menu">
        <div class="ui container">
            <div class="ui left secondary menu">
                <div class="header item" style="font-size: 9pt">&copy;Copyright 2018 - <a class="link_website" href="http://www.siogive.com"> SI OGIVE<sup style="font-size: 8pt">&reg;</sup></a></div>
            </div>
            <div class="ui center secondary menu">
            </div>
            <div class="ui right secondary menu">
                <a href="{{ path('user_guide_page_get') }}" class="item">
                    Guide utilisateur
                </a>
                <div  class="item separator">
                    | 
                </div>
                <a href="{{ path('help_page_get') }}" class="item">
                    Aide
                </a>
            </div>
        </div>
    </div>
</footer>