<div id="form_message_success" class="ui success message" style="display: none;">
    <i class="check circle icon"></i>
    <span></span>
    <i class="close icon"></i>
</div>

<div id="form_message_error" class="ui error message" style="display: none;">
    <i class="remove circle icon"></i>
    <span></span>
    <i class="close icon"></i>
</div>