{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    
    {% include('OGIVEProjectBundle::top-message-success-error.html.twig') %}
    {% include('OGIVEProjectBundle::sidebar.html.twig') %}
    <div class="pusher od_app_content">
        {% include('OGIVEProjectBundle::header.html.twig') %}
        {% block content %}

        {% endblock content %}
        {% include('OGIVEProjectBundle::footer.html.twig') %}
    </div>
    
{% block confirmation_modal %}{% endblock %}

{% endblock body %}