<div class="ui fluid card">
    <div class="content">
        <div class="ui left floated"><div class="header">Your Projects</div></div>
        <div class="ui right floated"><a href="{{path('project_add')}}" class="ui yellow mini button">New project</a></div>
    </div>
    <div class="content">
        <div class="ui fluid mini input">
            <input type="text" placeholder="Search...">
        </div>
        <div class="ui secondary pointing mini menu">
            <div class="ui container">
                <a class="active item">
                    Activés
                </a>
                <a class="item">
                    Desactivés
                </a>
                <a class="item">
                    Cloturés
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui relaxed divided list">
            {%if projects %}
                {%for project in projects %}
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a href="{{path('project_gen_infos_get', {'id': project.id})}}" class="header">{{project.numeroMarche}}</a>
                        </div>
                    </div>
                {%endfor %}
            {%else %}
                <div class="item">
                    <div class="center aligned content">
                        <div >No project created at this moment</div>
                    </div>
                </div>
            {%endif %}
        </div>
    </div>
    {%if projects | length > 8 %}
        <div class="center aligned content">
            <a class="">Load more...</a>
        </div>
    {%endif %}
</div>