<div class="ui vertical accordion following inverted sidebar menu">
    <div class="item ">
        <div class="ui icon input">
            <input type="text" placeholder="Recherche...">
            <i class="search icon"></i>
        </div>
    </div>
    <a class="item">
        A propos
    </a>
    <a class="item">
        Comment ça marche?
    </a>
    <a class="item">
        Aide
    </a>
</div>