<div class="ui vertical accordion following inverted sidebar menu">
    <div class="item ">
        <div class="ui icon input">
            <input type="text" placeholder="Recherche...">
            <i class="search icon"></i>
        </div>
    </div>
    <a class="item" href="{{ path('about_page_get') }}">
        A propos
    </a>
    <a class="item" href="{{ path('how_it_works_page_get') }}">
        Comment ça marche?
    </a>
    <a class="item" href="{{ path('help_page_get') }}">
        Aide
    </a>
</div>