<div id="message_success" class="ui success message" style="position: fixed; top: 5em; right: 38em; left: auto; z-index: 5; width: 35em; display: none">
    <i class="check circle icon"></i>
    <span></span>
    <i class="close icon"></i>
</div>

<div id="message_error" class="ui error message" style="position: fixed; top: 5em; right: 38em; left: auto; z-index: 5; width: 35em; display: none">
    <i class="remove circle icon"></i>
    <span></span>
    <i class="close icon"></i>
</div>