/* line 1, ../../sass/imports/header.scss */
.ui.inverted.segment {
  border-radius: 0;
}
/* line 5, ../../sass/imports/header.scss */
.ui.inverted.segment .app_main_menu .ui.secondary.menu .dropdown.item > .menu {
  margin-top: 1.27em;
  border-radius: 0px;
  background-color: #ffffff;
  color: black;
}
/* line 10, ../../sass/imports/header.scss */
.ui.inverted.segment .app_main_menu .ui.secondary.menu .dropdown.item > .menu .item {
  border-radius: 0px;
  width: 100%;
}
/* line 13, ../../sass/imports/header.scss */
.ui.inverted.segment .app_main_menu .ui.secondary.menu .dropdown.item > .menu .item:hover {
  background-color: #f9f9f9 !important;
  /*color: #ffffff!important;*/
  font-weight: bold !important;
}
/* line 19, ../../sass/imports/header.scss */
.ui.inverted.segment .app_main_menu .ui.secondary.menu .dropdown.item > .menu .divider {
  margin: 0px;
}
@media only screen and (max-width: 767px) {
  /* line 24, ../../sass/imports/header.scss */
  .ui.inverted.segment .app_main_menu .ui.secondary.menu .mobile_item {
    display: flex !important;
  }
  /* line 27, ../../sass/imports/header.scss */
  .ui.inverted.segment .app_main_menu .ui.secondary.menu .desktop_item {
    display: none;
  }
}
