
{%set holder = project.holders[0] %}
{%set projectManager = project.projectManagers[0] %}
<table class="ui celled structured small fluid table" style="font-weight: bold;">
    <tbody>
        <tr>
            <td colspan="4" style="font-weight: bold; text-align: center">ENTREPRISE</td>
            <td colspan="4" style="font-weight: bold; text-align: center">MAITRE D'OEUVRE</td>
            <td colspan="4" style="font-weight: bold; text-align: center">INGENIEUR DU MARCHE</td>
        </tr>
        <tr>
            <td colspan="4"  style="text-align: center; font-weight: bold; height: 10em;"></td>
            <td colspan="4"  style="text-align: center; font-weight: bold; height: 10em;"></td>
            <td colspan="4"  style="text-align: center; font-weight: bold; height: 10em;"></td>
        </tr>
        
        <tr>
            <td colspan="4" style="font-weight: bold;"></td>
            <td colspan="4" style="font-weight: bold;"></td>
            <td colspan="4" style="font-weight: bold;"></td>
        </tr>
        <tr>
            <td colspan="3" style="font-weight: bold; text-align: center">CHEF DE SERVICE DU MARCHE</td>
            <td colspan="3" style="font-weight: bold; text-align: center">MAITRE D'OUVRAGE <br>OU SON REPRESENTANT</td>
            <td colspan="3" style="font-weight: bold; text-align: center">COORDONNATEUR DU SECRETARIAT <br>TECHNIQUE DE SUIVI DU PLANUT</td>
            <td colspan="3" style="font-weight: bold; text-align: center">VISA MINMAP</td>
        </tr>
        <tr>
            <td colspan="3"  style="text-align: center; font-weight: bold; height: 10em;"></td>
            <td colspan="3"  style="text-align: center; font-weight: bold; height: 10em;"></td>
            <td colspan="3"  style="text-align: center; font-weight: bold; height: 10em;"></td>
            <td colspan="3"  style="text-align: center; font-weight: bold; height: 10em;"></td>
        </tr>
        
        <tr>
            <td colspan="3" style="font-weight: bold;"></td>
            <td colspan="3" style="font-weight: bold;"></td>
            <td colspan="3" style="font-weight: bold;"></td>
            <td colspan="3" style="font-weight: bold;"></td>
        </tr>
        
    </tbody>
</table>