<div style="border-radius: .28571429rem" class="ui message">
    <a href="{{path('project_gen_infos_get', {'id': project.id})}}" class="header">
        Marché N°{{project.numeroMarche}}
    </a>
    <p>{{project.subject}}</p>
</div>