.ui.inverted.segment{
    border-radius: 0;
    .app_main_menu{
        .ui.secondary.menu{
            .dropdown.item>.menu{
                margin-top: 1.27em;
                border-radius: 0px;
                background-color: #ffffff;
                color: black;
                .item{
                    border-radius: 0px;
                    width: 100%;
                    &:hover{
                        background-color: #f9f9f9!important;
                        /*color: #ffffff!important;*/
                        font-weight: bold!important;
                    }
                }
                .divider{
                    margin: 0px;
                }
            }
        } 
    }
}

